<form class="" action="/login" method="post">
    <div>
        <label for="">UserName</label>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submin">Login</button>
    <br> Don't have An Account? <a href="/register">Register</a>
</form>
