<form class="" action="/login" method="post">
    <div class="form-group">
        <label for="">UserName</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div>
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submin">Login</button>
    <br> Don't have an Account? <a class="btn btn-default" href="/register">Register</a>
</form>
