<form class="" action="/register" method="post">
    <div class="">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div class="">
        <label for="">UserName</label>
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Email">
    </div>
    <div class="">
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div class="">
        <label for="">Comfirm</label>
        <input type="password" name="password2" placeholder="Comfirm Password">
    </div>
    <button type="submin" name="button">Register</button>
    <br> Have An Account? <a href="/login">Login Now</a>
</form>
