<form class="" action="/register" method="post">
    <div class="form-group">
        <label for="">Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="">UserName</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="">Comfirm</label>
        <input class="form-control" type="password" name="password2" placeholder="Comfirm Password">
    </div>
    <button class="btn btn-primary" type="submin" name="button">Register</button>
    <br> Have an Account? <a class="btn btn-default" href="/login">Login Now</a>
</form>
