extends layout

block content
    .container
        h1 #{title}
        ul.list-group
            each article, i in articles
                li.list-group-item
                    a(href='/articles/show/'+article._id) #{article.title}
