<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <title>ToDoApp</title>
    </head>
    <body>
        <div class="container">
            <header class="text-center">
                <h1>TodoApp</h1>
                <h4>Organize Your Life</h4>
                <br>
            </header>
